body {
  background: #f5f5f7;
  /* 头部 */
  .header {
    position: relative;
    background: #fff;

    .container {
      width: 70rem;
      height: auto;
      margin: auto;

      .logo {
        float: left;
        width: 16rem;
        height: 7rem;
        margin-right: 1.25rem;
        background: url(~@/assets/logo.jpg) no-repeat center center;
        background-size: 100% 100%;
      }

      .nav {
        float: left;
        //width: 40rem;
        height: 7rem;

        ul {
          width: 100%;
          height: 100%;
          align-items: center;
          display: -webkit-flex;

          li {
            float: left;
            width: 3rem;
            height: 1.6rem;
            padding: 0.6rem;
            text-align: center;
            line-height: 1.6rem;
            font-size: 1rem;
            color: #333;
            display: inline-block;

            .el-dropdown {
              span {
                font-size: 1rem;

                i {
                  font-size: 0.8rem;
                  margin-left: 2px;
                }
              }
            }

            a {
              color: #333;
            }
          }
        }
      }

      .icon {
        float: right;
        height: 7rem;

        i {
          float: left;
          width: 2rem;
          height: 2rem;
          margin: 2rem 0.5rem;
          text-align: center;
          line-height: 2rem;
          display: block;
          cursor: pointer;
        }

        .daytime {
          background: url(~@/assets/daytime_black.png) no-repeat center;
          background-size: 80% 80%;
        }

        .nighttime {
          background: url(~@/assets/night_black.png) no-repeat center;
          background-size: 80% 80%;
        }

        .el-icon-search {
          font-size: 1.2rem;
        }

        .fade-enter, .fade-leave-to {
          opacity: 0;
        }

        .fade-enter-active, .fade-leave-active {
          transition: opacity 3s;
        }
      }

      .search-input {
        float: left;
        width: 100%;
        height: 2.25rem;
        padding: 1rem 0;
        display: none;

        &.show {
          display: block
        }
      }
    }
  }

  /* 头部下拉菜单 */
  .nav-dropdown {
    width: 6.25rem;
    height: auto;

    li {
      width: 100%;
      margin: 2px 0;
      padding: 0;
      text-align: center;

      a {
        color: #333;
      }
    }
  }

  .el-main {
    width: 70rem;
    min-height: calc(100vh - 14rem);
    margin: auto;
    padding: 30px 0;

    .type {
      padding: 0.2rem;
      font-size: 0.6rem;
      margin-bottom: 0.2rem;
      color: #fff;
      background: #448ef6;
    }

    /* 首页 */
    .no-gutters {
      float: left;
      width: 45rem;
      /* 轮播图 */
      .el-carousel {
        width: 100%;
        height: 20rem;

        .el-carousel__container {
          height: 100%;

          .el-carousel__item {
            width: 100%;
            height: 100%;

            .el-image {
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .img-title {
              position: relative;
              bottom: 3.5rem;
              width: 100%;
              height: 2rem;
              text-align: center;
              padding: 0 15px;
              color: #fff;
              font-size: 1.2rem;
              display: block;
              z-index: 10;
            }
          }
        }
      }

      .main-nav {
        width: 100%;
        height: 2rem;
        margin-top: 1rem;

        .el-radio-group {
          width: 100%;

          .el-radio-button {
            width: 12.5%;

            &.is-active {
              .el-radio-button__inner {
                background: #448ef6;
                border-radius: 0.16rem;

                &::after {
                  position: absolute;
                  top: 100%;
                  right: 0;
                  left: 0;
                  width: 0.2rem;
                  margin: auto;
                  content: '';
                  border-top: 5px solid #448EF6;
                  border-right: 7px solid transparent;
                  border-bottom: 5px solid transparent;
                  border-left: 7px solid transparent;
                }
              }
            }

            .el-radio-button__inner {
              background: none;
              border: none;
            }
          }
        }
      }

      /* 列表 */
      .card-list {
        width: 100%;
        margin-top: 1rem;

        .box-card {
          width: 100%;
          margin: 1rem 0;

          .el-card__body {
            width: calc(100% - 2.5rem);

            .list-top-title {
              line-height: 2rem;
              font-size: 1.0rem;
            }

            .list-top {

              .list-top-author {
                line-height: 2rem;
              }
            }

            .list-img {
              width: 100%;
              height: 20rem;

              .el-image {
                width: 100%;
                height: 100%;

                img {
                  object-fit: cover;
                }
              }
            }

            .list-text {
              margin-top: 0.8rem;
              line-height: 2rem;
              font-size: 0.8rem;
            }

            .list-left-img {
              width: 15rem;
              height: 9.5rem;
              display: inline-block;

              .el-image {
                width: 100%;
                height: 100%;

                img {
                  object-fit: cover;
                }
              }
            }

            .list-content {
              width: calc(100% - 15.6rem);
              height: 100%;
              margin-left: 0.6rem;
              display: inline-block;

              .list-body-title, .list-footer {
                line-height: 2rem;
                font-size: 0.8rem;
              }

              .list-text {
                height: 5.5rem;
                font-size: 1.0rem;
                margin-top: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }

      .top {
        position: relative;
        width: 100%;
        height: 20rem;

        .el-image {
          width: 100%;
          height: 100%;
        }

        .top-text {
          position: absolute;
          left: 0;
          bottom: 0;
          width: auto;
          padding: 15px;
          color: #fff;

          .name {
            font-size: 1.6rem;
            line-height: 2.5rem;
          }

          .desc {
            font-size: 0.8rem;
            line-height: 2rem;
          }
        }
      }

      h5 {
        font-size: 1.6rem;
      }

      p {
        font-size: 0.8rem;
        line-height: 2rem;
      }
    }

    .sidebar {
      float: right;
      width: 21rem;
      margin-right: 1rem;

      /* 随机妹纸 */
      .randomGirl {
        width: 100%;
        height: 21rem;

        .box-card {
          position: relative;
          width: 100%;
          height: 100%;

          .el-card__body {
            width: 100%;
            height: 100%;
            padding: 0;

            .el-image {
              background: #333;

              img {
                opacity: 0.9;
              }
            }

            .img-time {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              padding: 1rem;
              color: #fff;

              .img-time-day {
                font-size: 3.5rem;
              }

              .img-time-years {
                display: block;
              }
            }

            .img-footer {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 1rem;
              color: #fff;

              .img-footer-Journal {
                font-size: 1.1rem;
                line-height: 2rem;
                color: #fff;
              }

              span {
                float: left;
                background: #448EF6;
                border-radius: 0.16rem;
                padding: 0.16rem 0.2rem;
              }

              i {
                float: right;
                font-size: 1rem;
                cursor: pointer;
              }
            }
          }
        }
      }

      /* 最热妹纸 */
      .hotGirl {
        margin-top: 1rem;

        span {
          height: 2rem;
          line-height: 2rem;
          font-size: 1rem;
          display: block;
        }

        .el-image {
          width: 31.5%;
          height: 7.5rem;
          margin: 0.16rem;
          display: inline-block;

          img {
            object-fit: cover;
          }
        }
      }

      /* 最热文章、干货 */
      .hotArticle, .hotGanhuo {
        margin-top: 1rem;

        .el-card__body {
          width: calc(100% - 2.5rem);

          span {
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            display: block;
          }

          a {
            width: 100%;
            height: 5rem;
            margin: 0.5rem 0;
            display: block;

            .el-image {
              float: left;
              width: 5.6rem;
              height: 100%;
              display: inline-block;

              img {
                object-fit: cover;
              }
            }

            .title {
              float: left;
              width: calc(100% - 8.5rem);
              height: 100%;
              margin-left: 0.5rem;
              line-height: 1.2rem;
              font-size: 0.75rem;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: inline-block;
            }
          }
        }
      }
    }

    /* 专题 */
    .specials {
      width: 100%;
      height: 21rem;

      h1 {
        margin-bottom: 1.3rem;
        line-height: 2rem;
        color: #333;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .el-card {
        float: left;
        width: calc(49.5% - 2rem);
        height: 100%;
        margin: 1rem;

        .el-card__body {
          padding: 0;

          .el-image {
            width: 100%;
            height: 14.5rem;
          }

          .card-list-text {
            padding: 1rem;

            .type {
              font-size: 0.9rem;
              line-height: 1.5rem;

              &:hover {
                color: #448EF6;
              }
            }

            .desc {
              font-size: 0.6rem;
              line-height: 1.2rem;
              color: #9ca0ad;
            }
          }
        }
      }
    }

    /* 详情 */

    .detail {
      .el-breadcrumb {
        margin-bottom: 1.2rem;

        .el-breadcrumb__item {
          font-size: 0.8rem;
          font-weight: normal;
        }
      }

      .detail-img {
        position: relative;
        width: 100%;
        height: 9.5rem;
        background: #000;

        .el-image {
          width: 100%;
          height: 100%;
          opacity: 0.9;

          img {
            object-fit: cover;
          }
        }

        .media {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 1rem;

          span {
            //display: block;
            &.type {
              padding: 0.2rem;
              font-size: 0.6rem;
              margin-bottom: 0.2rem;
              color: #fff;
              background: #448ef6;
            }

            &.journal {
              font-size: 1.2rem;
              line-height: 3rem;
              color: #fff;
              display: block;
            }

            &.text {
              color: #fff;
            }
          }
        }
      }

      .box-card {
        margin: 1.5rem 0;

        .title {
          font-size: 0.8rem;
          font-weight: bold;
          margin-bottom: 1rem;

          i {
            color: #ccc;
            font-weight: bold;
            margin-right: 0.8rem;
          }
        }

        .author {
          font-size: 0.6rem;
          line-height: 2rem;
          color: #666;
        }

        .title {
          margin-top: 1rem;
          font-size: 1.5rem;
          line-height: 2rem;
        }

        .content {
          font-size: 0.8rem;
          line-height: 1.5rem;

          h3 {
          }
        }

        .share-section {
          margin-top: 1rem;
          padding: 0 1rem;
          font-size: 0.9rem;
        }

        /* 评论*/
        .comment {
          padding: 1rem;

          .user-img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            vertical-align: top;
            overflow: hidden;
            display: inline-block;
          }

          .comment-text {
            width: calc(100% - 6rem);
            margin-left: 0.625rem;
            display: inline-block;

            .user-name {
              font-size: 1rem;
              line-height: 2rem;
            }

            .user-comment {
              font-size: 0.7rem;
              line-height: 1.5rem;
            }
          }
        }
      }

      .comment-block-top {
        font-size: 0.8rem;

        i {
          margin-right: 0.625rem;
          vertical-align: middle;
          font-size: 1.2rem;
          color: #448EF6;
        }
      }
    }
  }

  /* 底部 */
  .footer {
    padding: 1.6rem 0;
    color: #fff;
    background: #222831;

    .container {
      width: 70rem;
      height: auto;
      margin: auto;

      .left {
        float: left;
        width: auto;
        max-width: 500px;

        .footer-menu {
          height: 2rem;
          line-height: 2rem;
          margin-bottom: 0.8rem;
          font-size: 1.0rem;
          font-weight: bold;

          a {
            color: #fff;
          }
        }

        .footer-copyright {
          font-weight: bold;
        }
      }

      .right {
        float: right;
        width: 12.5rem;
        margin-top: 0.8rem;
        border-radius: 0.25rem;

        span {
          width: 2.6rem;
          height: 2.6rem;
          margin: 0 0.16rem;
          font-size: 1.4rem;
          text-align: center;
          line-height: 2.6rem;
          border-radius: 0.2rem;
          background: #393E46;
          display: inline-block;
          cursor: pointer;

          &:hover {
            background: #747373;
          }

          i {
            width: 1.5rem;
            height: 1.5rem;
            color: #fff;
          }
        }
      }
    }
  }

  /* loading */
  .el-loading-mask {
    .el-icon-loading {
      font-size: 2rem;
    }
  }
}
